@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: "Nunito", sans-serif;
}

:root {
  /* Colors */
  --light: #ffffff;
  --dark: #424242;
  --primary: #7096d1;
  --primary2: #587dae;
  --light_gray: #d1d1d1;
  --gray: #9e9e9e;
  --light_gray_blue: #f1f4fa;
  --error: #ef4444;
  /* statuses */
  --status_new_bg: #EAF8F0;
  --status_in_process_bg: #FDFAEB;
  --status_completed_bg: #F5F1FA;
  --status_new_txt: #70C68E;
  --status_in_process_txt: #EAD25D;
  --status_completed_txt: #AC89DA;

  /* Font Size */
  --sm_text: 14px;
  --md_text: 16px;
  --lg_text: 18px;
  --xl_text: 24px;
  --xxl_text: 30px;
  
  /* Padding */
  --xl_p: 24px;
  --lg_p: 12px;
  --md_p: 8px;
  --sm_p: 6px;
  --xs_p: 4px;

  /* Margin */
  --xl_m: 40px;

  /* Gap */
  --xl_gap: 50px;
  --lg_gap: 20px;
  --md_gap: 14px;
  --sm_gap: 8px;
  --xs_gap: 4px;

  /* Border Radius */
  --sm_radius: 4px;
}

/* sm
md
lg	
xl	
2xl */